<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true">
  <serverUrls>
	<serverUrl url="http://210.59.253.2:6080/arcgis"
            matchAll="true"/>

	  <serverUrl url="https://www.cwb.gov.tw"
                matchAll="true"/>
	  <serverUrl url="http://sampleserver6.arcgisonline.com/arcgis/rest/services/Utilities/PrintingTools/GPServer/Export%20Web%20Map%20Task"
                matchAll="true"/>
	  <serverUrl url="https://landslide.geologycloud.tw/"
                matchAll="true"/>
	  <serverUrl url="http://211.22.122.238:3800/"
                matchAll="true"/>
	  
	  
	  <!--<serverUrl url="http://hummer/ArcGIS/rest/services"
               matchAll="true"
               dynamicToken="true"
               ></serverUrl>-->
  </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
